*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--main);
  color: var(--lightest);
}

:root {
  --main: #030303;
  --lighter: #151516;
  --mid: #1a1a1b;
  --light: #343536;
  --red: #ff4500;
  --lightest: #d7dadc;
  --lightest-2: #e9ebed;
}

/* Main Start */

.mainCt {
  display: grid;
  grid-template-areas: 
  ". create sidebar ."
  ". filter sidebar ."
  ". feed sidebar .";
  grid-template-columns: .5fr 1fr .5fr .5fr;
  grid-template-rows: repeat(auto-fit, 1fr);
}

.createPost {
  grid-area: create;
}

.filterPosts {
  grid-area: filter;
}

.feed {
  grid-area: feed;
}

.sidebar {
  grid-area: sidebar;
}

/* Main End */

/* Header Start */
/* Header End */

/* Post Box Start */
.postBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 5px;
  border: solid .75px var(--light);
  margin-bottom: 20px;
}

.postBox, .postBtn {
  background-color: var(--lighter);

}

.postInput, .postBtn {  
  color: var(--lightest);
  border-radius: 5px;
}

.userAv {
  border-radius: 25px;
  max-width: 50px;
  background-color: var(--lightest);
}

.userAv:hover {
  cursor: pointer;
}

.postInput {
  width: 75%;
  padding: 5px 10px;
  font-size: .9vw;  
  border: solid var(--light) 1px;
  background-color: var(--mid);
}

.postBtn {
  padding: 5px 15px;
  font-size: .75vw;
  border: none;
}

.postBtn:hover {
  background-color: var(--light);
  cursor: pointer;
}

.postBtn:active {
  background-color: var(--red);
}

/* Post Box End */

/* Filter Box Start */
.filterBox {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--lighter);
  padding: 5px 15px;
  border-radius: 5px;
  border: solid .75px var(--light);
  margin-bottom: 20px;
}

.filterBtn {
  display: flex;
  align-items: center;
  background-color: var(--lighter);
  padding: 10px;
  border-radius: 25px;
}

.filterBtn:hover {
  cursor: pointer;
  background-color: var(--light);
}

.filterIcon {
  width: 20px;
}

.filterText {
  font-size: .9vw;
  margin-left: 5px;
}


/* Filter Box End */

/* Post Start */

.postCt {
  display: flex;
  background-color: var(--mid);
  border-radius: 5px;
  border: .75px solid var(--light);
}

.postBody {
  padding: 5px 10px;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lighter);
  padding: 5px 10px;
  border-radius: 5px;
}

.upArrow, .downArrow {
  width: 25px;
}

.upArrow:hover, .downArrow:hover {
  cursor: pointer;
  background-color: var(--red);
  border-radius: 25px;
}

.voteCount {
  margin: 10px 0;
}

.subreddit {
  font-size: .65vw;
  font-weight: 600;
}

.postTitle, .postText {
  color: var(--lightest-2);
}

.postFoot {
  display: flex;
  width: 100%;
}

.footEl {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin-right: 5px;
}

.footEl:hover {
  cursor: pointer;
  background-color: var(--light);
}

.footIcon {
  width: 20px;
  margin-right: 5px;
}

.footText {
  color: var(--lightest);
}

/* Post End */